* {
  box-sizing: border-box;
}

.container {
  width: 30%;
  margin: 100px auto;
}

.modal-images .main-image img {
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.modal-images .all-images {
  overflow: hidden;
}

.modal-images .all-images img {
  width: 33.33%;
  float: left;
  padding: 2px;
  transition: opacity 0.3s ease-in-out;
}

img:hover {
  opacity: 0.8;
}

.modal-content {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: none;
}

#close {
  position: absolute;
  right: 30px;
  top: 10px;
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

#close:hover {
  opacity: 0.8;
}

.control {
  width: 40%;
  margin: 80px auto;
  display: block;
  position: relative;
}

#modal-img {
  width: 100%;
}

#modal-img:hover {
  opacity: 1;
}

#modal-img {
  animation: zomming 0.6s;
}

#next {
  position: absolute;
  right: 0px;
  bottom: 50%;
  color: #000;
  border: none;
  outline: none;
  background: rgba(0, 0, 0);
  padding: 15px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  opacity: 0.3;
}

#prev {
  position: absolute;
  left: 0px;
  bottom: 50%;
  color: #000;
  border: none;
  outline: none;
  background: rgba(0, 0, 0);
  padding: 15px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  opacity: 0.3;
}

@keyframes zomming {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1200px) {
  .container {
    width: 50%;
    margin: 80px auto;
  }

  .control {
    width: 80%;
    margin: 80px auto;
    display: block;
    position: relative;
  }

  #modal-img {
    width: 100%;
  }

  #next {
    padding: 15px;
    font-size: 20px;
  }

  #prev {
    padding: 15px;
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 80%;
    margin: 80px auto;
  }

  .control {
    width: 80%;
    margin: 80px auto;
    display: block;
    position: relative;
  }

  #modal-img {
    width: 100%;
  }

  #next {
    padding: 10px;
    font-size: 10px;
  }

  #prev {
    padding: 10px;
    font-size: 10px;
  }
}
